uvicorn~=0.34.0
fastapi~=0.108.0
psycopg2-binary~=2.9.10
SQLAlchemy~=2.0.37
PyYAML~=6.0.2
langchain~=0.3.14
langchain-community~=0.3.14
langchain-openai~=0.3.7
langchain-deepseek~=0.1.2
langchain-unstructured~=0.1.6
langchain-chroma~=0.2.1
websockets~=14.1
python-multipart~=0.0.20
unstructured-client~=0.29.0
unstructured[all-docs]~=0.16.20
croniter~=6.0.0
aioschedule~=0.5.2
itsdangerous~=2.2.0