uvicorn
fastapi
psycopg2-binary
sqlalchemy
pyyaml
langchain
langchain-openai
langchain-deepseek
langchain_community
websockets
python-multipart
unstructured-client
langchain-unstructured
unstructured[all-docs]
langchain_chroma
langchain_text_splitters
croniter
aioschedule